@font-face {
    font-family: clock-font;
    src: url(../DS-DIGIB.TTF);
}

body{
    padding-top: 50px ;
}
center{
    position: relative;
}
span, sub{
    font-family: clock-font;
}

p{
    font-weight: 500;
    font-size: 12px;
}

.body{
    width:250px;
    height: 100px;
    background-color: #5e5959;
    border: 5px solid black;
    outline: 10px solid #2b2929;
    border-radius: 20px;
    position: relative;
}
.display-3{
    font-weight: 400 !important;
}

.top{
    position: absolute;
    top: -20px;
    left: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 150px;
    height: 10px;
    background-color:#2b2929;
}

.timer{
    width: 250px;
    height: fit-content;
    background: linear-gradient(90deg, black, grey);
    border-radius:10px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

#hrs{
    width: 50px;
}

#mins{
    width: 60px;
}

@keyframes move {
    0%{
        transform: translateY(50px);
    }
    70%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0) translateY(0px);
    }
}